# MySQL Database Settings
DB_HOST=db
DB_NAME=tutorias_db
DB_USER=tutorias_user
DB_PASS=CAMBIAR_EN_ENV
DB_ROOT_PASS=CAMBIAR_EN_ENV

# Authentication Settings
AUTH_SECRET_KEY=GENERAR_CLAVE_ALEATORIA
AUTH_TOKEN_TTL=86400
